apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: appsmith-ingress
  namespace: tst
  annotations:
spec:
  ingressClassName: nginx
  rules:
  - host: time.usedataclap.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: appsmith-service
            port:
              number: 8081

